[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
pytest-cov = "*"
coveralls = "*"

[packages]
boto3 = "*"
pyyaml = ">=6.0.1"
tabulate = "*"
click = "*"
jinja2 = "*"
aws-lambda-builders = ">=1.30.0"
arrow = "*"

[requires]
python_version = "3.12"
